﻿
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<section class="inner-bg over-layer-black" style="background-image: url('~/Content/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</section>


<section class="animatedParent animateOnce" align="center">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6 bg-f8 padding-tb animated fadeInRightShort slow delay-250 go">
                    <div class="booking-from">
                        <h2>Prendre un <span class="color-defult">Rendez-vous</span></h2>
                        <form method="post" id="appoint-form" action="http://mvcsoftonline.com/html/harbor/php/appoint.php">
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required="">
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" id="doctorName" name="doctorName" required="">
                                    <option value="Spécialté" selected="">Spécialté</option>
                                    <option value="andrologie">andrologie</option>
                                    <option value="cardiologie">cardiologie</option>
                                    <option value="chirurgie">chirurgie</option>
                                    <option value="dermatologie">dermatologie</option>
                                    <option value="endocrinologie">endocrinologie</option>
                                    <option value="radiologie">radiologie</option>
                                    <option value="psychiatrie">psychiatrie</option>
                                    <option value="pédiatrie">pédiatrie</option>
                                    <option value="ophtalmologie">ophtalmologie</option>
                                    <option value="anesthésiologie">anesthésiologie</option>

                                    

                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" id="doctorName" name="doctorName" required="">
                                    <option value="auto">Choose Your Doctor</option>
                                    <option value="Dr. George A. Beller" selected="">Dr. George A. Beller</option>
                                    <option value="Dr. John P. DiMarco">Dr. John P. DiMarco</option>
                                    <option value="Dr. Suzanne Holroyd">Dr. Suzanne Holroyd</option>
                                    <option value="Dr. W. Kline Bolton">Dr. W. Kline Bolton</option>
                                    <option value="Dr. Mark Shaffrey">Dr. Mark Shaffrey</option>
                                    <option value="Dr. David Jones">Dr. David Jones</option>
                                    <option value="Dr. William Steers">Dr. William Steers</option>
                                    <option value="Dr. Kenneth Cherry">Dr. Kenneth Cherry</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                            </div>
                            <div class="col-md-6">
                                <div class="input-group date margin-bottom-30" data-date-format="dd.mm.yyyy">
                                    <input type="text" class="form-control" placeholder="Reservation Date" name="rDate" id="rDate">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" class="form-control" placeholder="Your Email Here" id="email" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="phone" class="form-control" placeholder="Your Phone" id="phone" required="">
                            </div>
                            <div class="col-md-12">
                                <div class="contact-textarea">
                                    <textarea class="form-control" rows="6" placeholder="Wright Message" id="message" name="message" required=""></textarea>
                                    <button class="btn btn-theme" type="submit" value="Submit Form">Send Message</button>
                                </div>
                            </div>
                            <div id="form-messages"></div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

