﻿
@{
    ViewBag.Title = "HomePatient";
    Layout = "~/Views/Layout/LayoutPatient.cshtml";
}



<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- Third Slide -->
        <div class="item active">

            <!-- Slide Background -->
            <img src="~/Content/img/depertment/2.jpg" alt="Slider Images" class="slide-image" />
            <div class="bs-slider-overlay"></div>

            <div class="slide-text slide_style_left">
                <h1 data-animation="animated fadeInRight">The <span class="color-defult"> Harbor medical </span>World of Care</h1>
                <p data-animation="animated fadeInLeft">Our team of over 7000 doctors join me in giving you the best <br> of modern healthcare to ensure you stay healthy, always.</p>
                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Read more</a>
                <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Book Now</a>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Second Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src=@Url.Content("/Content/img/bg/3.jpg") alt="Slider Images" class="slide-image" />
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_center">
                <h1 data-animation="animated bounceInDown"> Treat<span class="color-defult"> heart</span> disease.</h1>
                <p data-animation="animated lightSpeedIn">consectetur adipisicing elit. Eligendi vel ipsam deleniti dignissimos <br> corporis consequatur possimus eaque voluptates.</p>
                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Read More</a>
                <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">Donate Now</a>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Third Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src=@Url.Content("/Content/img/bg/1.jpg") alt="Slider Images" class="slide-image" />
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_right">
                <h1 data-animation="animated fadeInLeft">Life Wellness<span class="color-defult"> Programs</span></h1>
                <p data-animation="animated fadeInRight">Stay in touch and in shape with periodic tips from our <br>in-house  experts on wellness, fitness and nutrition.</p>
                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Read More</a>
                <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Donate Now</a>
            </div>
        </div>
        <!-- End of Slide -->


    </div><!-- End of Wrapper For Slides -->
    <!-- Left Control -->
    <a class="left carousel-control" href=@Url.Content("bootstrap-touch-slider") role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href=@Url.Content("bootstrap-touch-slider") role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<section class="divider call-action over-layer-default animatedParent animateOnce" style="background-image:url(img/bg/5.jpg);">
    <div class="container">
        <div class="section-title">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center color-white">
                        <h2 class="color-white">Can You <span class="color-333">Help </span>?</h2>
                        <div class="line-border-center"></div>
                        <p>Consequatur alias incidunt cumque officiis, quas eius quaerat ut itaque laudantium corporis nobis ipsum, voluptates at, adipisci fugiat hic voluptate consequuntur porro.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="about-feature">
                    <div class="col-md-4 col-sm-6 animated fadeInLeftShort slow delay-250 go">
                        <div class="practice-item-1">
                            <div class="practice-img">
                                <a href="#">
                                    <img src="~/Content/img/services/1.jpg" alt="">
                                    <span class="icon icon-Heart"></span>
                                </a>
                            </div>
                            <div class="practice-content">
                                <h4><a href="#"> ACCESS YOUR HEALTH RECORDS</a></h4>
                                <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                                <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animated fadeInLeftShort slow delay-500 go">
                        <div class="practice-item-1">
                            <div class="practice-img">
                                <a href="#">
                                    <img src="~/Content/img/services/2.jpg" alt="">
                                    <span class="icon icon-Heart"></span>
                                </a>
                            </div>
                            <div class="practice-content">
                                <h4><a href="#"> Health Record automatically</a></h4>
                                <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                                <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animated fadeInLeftShort slow delay-750 go">
                        <div class="practice-item-1">
                            <div class="practice-img">
                                <a href="#">
                                    <img src="~/Content/img/services/3.jpg" alt="">
                                    <span class="icon icon-Heart"></span>
                                </a>
                            </div>
                            <div class="practice-content">
                                <h4><a href="#"> Safe &amp; Secure</a></h4>
                                <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                                <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>