﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Harbor Medical || Health & Medical HTML Template</title>
        

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css")>

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/style.css")>

        <!-- Responsive stylesheet  -->
        <link href="@Url.Content("/Content/css/responsive.css") rel="stylesheet" />
        <!-- Favicon -->
        <link href=@Url.Content("/Content/img/favicon.png") rel="shortcut icon" type="image/png">

      
       
    </head>
    <body>
        <div class="preloader"></div>

        
        <div class="main-navbar no-bg position-fixed header-color">

            <div class="container padding-none">

                <div class="row">
                    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml");

                    <div class="col-md-12">
                        <nav class="navbar navbar-default style-1">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand dis-none" href="index-one.html">
                                    <img src="~/Content/img/logo-1.png" alt="">
                                    
                                </a>
                                <a class="navbar-brand dis-block" href="index-one.html">
                                    <img src="~/Content/img/logo-1.png" alt="">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInUp">
                                <ul class="nav navbar-nav navbar-right">
                                    
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Depertment">Depertment <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("Departement", "Departement")">Cardilogists Depertment</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Departement2", "Departement")">Orthopaedics Depertment</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Departement3", "Departement")">Gastroenterology Depertment</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Departement4", "Departement")">Neurosciences Depertment</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Departement5", "Departement")">Spine Depertment</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Departement6", "Departement")">Cancer Depertment</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Departement7", "Departement")">Colorectal Depertment</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Departement8", "Departement")">Bariatric Depertment</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span data-hover="Doctors">Doctors </span></a>
                                        
                                    </li>
                                   
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Pages">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="shop-grid.html">Shop Grid</a>
                                            </li>
                                            <li>
                                                <a href="shop-list.html">Shop List</a>
                                            </li>
                                            <li>
                                                <a href="shop-single.html">Shop Single</a>
                                            </li>
                                            <li>
                                                <a href="shop-cart.html">Shop Cart</a>
                                            </li>
                                            <li>
                                                <a href="shop-checkout.html">Shop Checkout</a>
                                            </li>
                                            <li>
                                                <a href="testimonials.html">Testimonials</a>
                                            </li>
                                            <li>
                                                <a href="comming-soon.html">Comming Soon</a>
                                            </li>
                                            <li>
                                                <a href="error.html">Error / 404 page</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Blog">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                        <ul class="dropdown-menu dropdownhover-bottom">
                                            <li>
                                                <a href="blog-grid.html">Blog grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-single.html">Blog Single</a>
                                            </li>
                                            <li>
                                                <a href="blog-no-sideber.html">Blog No Sideber</a>
                                            </li>
                                            <li>
                                                <a href="blog-left.html">Blog Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-right.html">Blog Right Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle flip-animate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Contact">Contact <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="contact-style-1.html">Contact One</a>
                                            </li>
                                            <li>
                                                <a href="contact-style-2.html">Contact Two</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="dropdown-buttons">
                                            <div class="btn-group menu-search-box">
                                                <button type="button" class="btn dropdown-toggle" id="header-drop-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon icon-Search"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-3">
                                                    <li>
                                                        <form role="search" class="search-box">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Search">
                                                                <i class="icon icon-Search form-control-feedback"></i>
                                                            </div>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>



        <!-- Header navbar end -->
        <!-- Start  bootstrap-touch-slider Slider -->
        <div>


            @RenderBody()
            @RenderSection("Scripts",required:false)

        </div>

        <footer class="bg-faded">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                       
                    </div>
                   
                    <div class="row">
                        <div class="col-12 text-center">
                            <hr>
                            <h4>Join Our social Network</h4>
                            <hr>
                            <ul class="social-icon bg-transparent bordered-theme">
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <section class="footer-copy-right bg-defult text-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Created By BiTechnologie  <a href="#"> at Esprit</a></p>
                    </div>
                </div>
            </div>
        </section>


        <a href="#" class="scrollup"><i class="pe-7s-drop" aria-hidden="true"></i></a>
        <!-- jQuery -->
        <script src="~/Scripts/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- all plugins and JavaScript -->
        <script src=@Url.Content("/Scripts/bootstrap-datepicker.min.js")></script>
        <script src=@Url.Content("/Scripts/css3-animate-it.js")></script>
        <script src=@Url.Content("/Scripts/bootstrap-dropdownhover.min.js")></script>
        <script src=@Url.Content("/Scripts/owl.carousel.min.js")></script>
        <script src=@Url.Content("/Scripts/gallery.js")></script>
        <script src=@Url.Content("/Scripts/player.min.js")></script>
        <script src=@Url.Content("/Scripts/comming-soon.js")></script>

        <!-- Main Custom JS -->
        <script src=@Url.Content("/Scripts/script.js")></script>
    </body>
</html>
