﻿
@{
    ViewBag.Title = "Departement5";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<section class="inner-bg over-layer-black" style="background-image: url('~/Content/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
<section class="depertment-area">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="depertment-col">
                        <div class="depertment-list">
                            <a href="@Url.Action("Departement", "Departement")"><i class="flaticon-heart"></i> Cardilogists Depertment</a>
                            <a href="@Url.Action("Departement2", "Departement")"><i class="flaticon-broken-bone"></i> Orthopaedics Depertment</a>
                            <a href="@Url.Action("Departement3", "Departement")"><i class="flaticon-stomach-1"></i> Gastroenterology Depertment</a>
                            <a href="@Url.Action("Departement4", "Departement")"><i class="flaticon-brain"></i> Neurosciences Depertment</a>
                            <a href="@Url.Action("Departement5", "Departement")"><i class="flaticon-spine-bone"></i> Spine Depertment</a>
                            <a href="@Url.Action("Departement6", "Departement")"><i class="flaticon-virus"></i> Cancer Depertment</a>
                            <a href="@Url.Action("Departement7", "Departement")"><i class="flaticon-kidney"></i> Colorectal Depertment</a>
                            <a href="@Url.Action("Departement8", "Departement")"><i class="flaticon-liver"></i> Bariatric Depertment</a>
 </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <img src="@Url.Content("/Content/img/depertment/5.jpg") ">
                    <h3 class="margin-top-30"> Spine Depertment</h3>
                    <p>consectetur adipisicing elit. Doloremque illum iure dolor dolore impedit adipisci, quibusdam dicta facilis molestias libero, odit sint doloribus numquam aliquid quasi, suscipit eum iste praesentium! Quam ipsa rem blanditiis reiciendis veniam aperiam aspernatur iure error aut neque unde dicta laboriosam, expedita, impedit, consequuntur placeat voluptates.</p>
                    <div class="col-md-6">
                    </div><div class="col-md-6">
                              <a href="#" class="btn btn-simple hvr-bounce-to-top">Voir Docteurs</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
